*{
    box-sizing: border-box;
}
:root{
    --color1: #D89584;
    --color2: #F4F4F4;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
iframe{
    width: 100%;
    border: none;
    height: 350px;
}
div.cover{
    background-color: aqua;
    height: 360px;
    
    background: url(cover_overlay.png)no-repeat center/100% 100%,url(covermr.jpg) no-repeat center/cover;
    /* width: 100%; */
    
}
img.cover-profile{
    height: 100px;
    /* display: block; */
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
    /* margin-left: auto;
    margin-right: auto ; */
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 42px;
}
div.cover p{
    color: lightgray;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.cover-contact{
    /* background-color: #00FFFF80; */
    position: absolute;
    top: 10px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;

}
div.cover-contact p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

div.cover-contact p:first-child{
    margin-bottom: 15px;
}

div.cover-contact *{
    color: white;
    font-size: 14px;
}
a.contact-button{
    text-decoration: none;
    border: 3px solid var(--color1);
    padding: 8px 20px;
    color: var(--color1);
    background-color: #00000040;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
   
}
a.contact-button-portfolio {
    position: absolute; 
    right: 20px; 
    top:5px;
}
a.contact-button:hover{
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    /* background-color: #D8958440; */


}
div.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;

}
/* section grise1 */
div.section-grise1{
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    padding-bottom: 70px;
    background-color: var(--color2);
    /* height: 200px; */
}

/* section grise2 */
div.section-grise2{
    background: url(triangle1white.svg) no-repeat center top/100%;
    padding-top: 80px;
    background-color: var(--color2);
    /* height: 200px; */
}
h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}
div.line1{
    width: 150px;
    height: 1px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    background-color: #979797;
}
div.section-grise1 p{
    font-size: 22px;
    text-align: center;
    color: #656565;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

/* En savoir plus */
img.col-contenu{
    width: 40%;
}

div.col-contenu{
    width: 60%;
    padding-left: 16px;
    

}
div.ligne-verticale{
    margin-top: 0;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;

    

}
div.ligne-verticale p{
    margin-top: 0;
    

}
.float-right{
    float: right;
}

/* Portfolio */
table{
    width: 50%;

}
div.barre-vertical{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}
.col-portfolio{
    width: 47%;
}

/* img de la table */
.img-table{
    /* height: 100px; */
    width: 50%;
    /* background-color: blue; */
    margin: 0;
    height: 100px;
    width: 100px;

}
div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1 );

}
.frame-title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* PAGE PORTFOLIO */
div.portfolio-header{
    height: 90px;
    background-color: black;
}

div.portfolio h1{
    font-size: 46px;
    color: black;
    line-height: 1;
    padding-top: 10px;
}
div.portfolio h2{
    font-size: 26px;
    font-weight: lighter;
    color: black;
    margin-bottom: 0;
}

.back{
    color: var(--color1);
    margin-left: -10px;
}

.portfolio-image{
    width: 70%;
    max-width: 475px;
    
    
}
/* Header */
.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

.portfolio-header {
    height: 90px;
    background: url(header.jpg) no-repeat center/cover;
    position: relative;
}
.display-mobile{
    display: none;
}

/* Responsive design: mobile */
@media only screen and (max-width: 767px) {
    img.cover-profile{
        height: 90px;
        margin-top: 75px;
       
        
    }
    h1{
 
        margin-top: 6px;
        margin-bottom: 0px;
        font-size: 38px;
    }
    div.cover p{
        margin-top: 2px;
        font-size: 13px;
    }
    div.section{
        padding-left: 20px;
        padding-right: 20px;
    
    }
    /* section grise1 */
    div.section-grise1{
        padding-bottom: 40px;
    }
    h2{
        font-size: 30px;
    }
    img.col-contenu{
        width: 100%;
    }
    
    div.col-contenu{
        width: 100%;
        margin-top: 20px;
        padding-left: 0px;
        
    
    }
    /* Portfolio */
    table{
        width: 100%;
        margin-bottom: 20px;
    
    }
  
    .col-portfolio{
        width: 100%;
    }
    
    .img-table{
        width: 70px;
        height: 70px;
    }

    /* frame */
    div.frame{
        margin: 0;
        padding: 0;
        box-shadow:none;
    
    }
    .frame-title{
        font-size: 30px;
      

    }
    
    p.contact-p{
        font-size: 12px;
    }
    .portfolio-header-title {
        font-size: 19px;
        padding-top: 10px;
        padding-left: 4px;
    }

    a.contact-button {
        padding: 7px 15px;
        margin-top: 22px;
        font-size: 12px;
    }

    a.contact-button-portfolio {
        right: 8px; 
        
    }

    div.portfolio h1{
        font-size: 40px;
    
    }
    div.portfolio h2{
        font-size: 22px;
    }
    .portfolio-image{
        width: 100%;
    }
    .display-mobile{
        display: block;
    }
}